# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Local python distribution
py_dist/
cache/

# Local data for open-webui, logs, secrets, configs
huggingface/
open_webui/
webview_cache/
.webui_secret_key
*.log
*.lnk

# Subdirs inside tools dir
/tools/**/
/tools/*.zip
/tools/ffmpeg.exe
/tools/ffprobe.exe
/tools/ffplay.exe

# Perpetual
/.perpetual/*
!/.perpetual/description.md
/task.md
/task.*.md
/question.md
/answer.md
/answer.*.md
